@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background:#050505;
color:#00ff66;
font-family:monospace;
}
.terminal{
background:#090909;
border:1px solid #174;
padding:20px;
border-radius:12px;
}
